.work{
    text-align: center;
    padding-top: 5rem;

    &__img-box{
        width: 30rem;
        margin: 0 auto;
    }

    &__img{
        width: 100%;
        height: 100%;
    }

    &__title{
        padding-top: 2rem;

    }

    // &__text{
    //     text-align: center;
    // }
}